# Experiment outputs
experiments/logs
experiments/deepseek/


# Python build artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyo
build/
dist/

# IDE
.vscode/
.idea/

# Environment
.env
*.log


#Claude
.claude

#Debug
scripts/debug/

#Jobs
scripts/utils/